body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    padding-bottom: 60px;
    overflow-y: auto;
}
  
table {
    border-collapse: collapse;
    margin-bottom: 20px;
}
  
td {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
  
.box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    cursor: move;
    transition: transform 0.5s ease-in-out, background-color 0.3s;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
  
.buttons-container {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}
  
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}
